<launch>
    <rosparam command="load" file="$(find transfer_area)/conf/area_param.yaml"/>
    
    <node name="area_command" pkg="transfer_area" type="area_command.py" output = "screen"/>
    <node name="door" pkg="transfer_area" type="door.py" output = "screen"/>
    <node name="enter_area" pkg="transfer_area" type="enter_area.py" output = "screen"/>

</launch>
