#
# Copyright (c) 2016, NVIDIA CORPORATION.  All rights reserved.
#

[Unit]
Description=transfer system peripheral environment daemon
; Everything depends on the NVIDIA per-boot script
After=nv.service

[Service]
Type=idle
ExecStart=/usr/local/bin/transfer_sys_init
StandardOutput=null
StandardError=syslog
Restart=on-abort
RestartSec=3

[Install]
WantedBy=multi-user.target
